@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url('Img/bg.jpg');
    min-height: 100vh;
    background-size: 101vw 101vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#snake {
    width: 20vmin;
    /* border: 2px solid black; */
}

#scoreBox {
    position: absolute;
    top: 15vh;
    right: 5vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox {
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board {
    background: linear-gradient(rgb(108, 230, 108), rgb(247, 247, 91));
    margin-left: 10px;
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    /* grid-gap: 1px; */
}

.head {
    background-color: red;
    border: 2px solid rgb(80, 5, 80);
    border-radius: 9px;
    background-image: radial-gradient(yellow, red);
    z-index: 10;
    transform: scale(1.02);
}

.snake {
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food {
    background-image: linear-gradient(darkgreen, red);
    border: .25vmin solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 10px grey;
}